# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Prisma
prisma/migrations/
